@{
    ViewData["Title"] = "Home";
}

<div class="card-dark text-center">

    <img src="~/images/logistics.png" style="width:300px;" />

    <h2 class="mt-3 text-success">Increase Your Productivity!</h2>

    <a href="/ServiceRequests/Index" class="btn btn-primary-custom mt-3 px-4">
        Start
    </a>

</div>

<hr class="my-5" style="border-color:#334155;" />

<div class="text-center">
    <h3 class="text-info">Manage Drivers</h3>

    <a href="/Client/Index" class="btn btn-success mt-3 px-5">
        Contacts
    </a>
</div>
